//https://learn.microsoft.com/zh-tw/dotnet/api/system.drawing.fontstyle?view=windowsdesktop-9.0&viewFallbackFrom=dotnet-plat-ext-8.0

@mixin heading-header-title {
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 400;
     font-size: 50px;
     line-height: 1.2;
     letter-spacing: 12px;
 }

@mixin heading-xxxlarge {
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 400;
     font-size: 50px;
     line-height: 1.2;
     letter-spacing: 0.3em;

 }

@mixin heading-xxlarge {
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 400;
     font-size: 40px;
     line-height: 1.2;

 }

@mixin heading-xlarge {
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 400;
     font-size: 36px;
     line-height: 1.2;

 }

@mixin heading-medium {
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 400;
     font-size: 28px;
     line-height: 1.2;
 }

@mixin heading-small {
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 400;
     font-size: 24px;
     line-height: 1.2;
 }


@mixin heading-xsmall {
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 400;
     font-size: 20px;
     line-height: 1.2;
 }


@mixin label-large {
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.5;
 }

@mixin label-medium {
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 700;
     font-size: 16px;
     line-height: 1.5;
 }

@mixin label-small {
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 700;
     font-size: 14px;
     line-height: 1.5;
 }

@mixin label-xsmall {
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 700;
     font-size: 12px;
     line-height: 1.5;
 }

@mixin paragraph-xxlarge{
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 400;
     font-size: 24px;
     line-height: 1.5;
     letter-spacing: 0.1em;
 }

 .paragraph-xlarge{
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 400;
     font-size: 20px;
     line-height: 1.5;
 }

@mixin paragraph-large{
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 400;
     font-size: 18px;
     line-height: 1.5;
     letter-spacing: 2px;
 }

@mixin paragraph-medium{
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 2px;
 }

@mixin paragraph-small{
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.5;
 }

@mixin paragraph-xsamll{
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 400;
     font-size: 12px;
     line-height: 1.5;
 }

@mixin ChenYuluoyan{
     font-family: "ChenYuluoyan", sans-serif;
     font-weight: 400;
     font-size: 12px;
     line-height: 1.5;
 }

@mixin ls-2{
    letter-spacing: 2px;
 }