.header{
  background: #69F0AE;
  font-size: 64px;
}

.nav-padding{
  padding: 5px 10px;
}

.bg-primary-800{
  background-color: #5B4530;
}

.color-primary-50{
  color: #F7F6EF;
}

.breadcrumb-item + .breadcrumb-item::before{
  color: #F7F6EF;
}