.nav-font-size{
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.5;
}
.color-primary-50{
  color: $primary-50;
}

.breadcrumb-item + .breadcrumb-item::before{
  color: $primary-50;
  padding-left: 12px;
  padding-right: 12px;
  float:none;
}

@media (max-width: 767px) {
.breadcrumb-item + .breadcrumb-item::before{
    display: none;
  }
}

.navbar-toggler {
  border: none;

  // 移除 bootstrap 預設灰色背景
  .navbar-toggler-icon {
    background-image: none;
  }
}

/* 桌機 breadcrumb 連結顏色 */
.header-hover:hover {
  color: #FBAF44;
}

.logo {
  display: inline-block;
  width: 240px;
  height: 56px;
  background: url("/assets/images/Logo.svg") no-repeat center / contain;
}

@media (max-width: 767px) {
  .logo {
    width: 40px;
    height: 40px;
    background: url("/assets/images/small-logo.svg") no-repeat center / contain;
  }
}

/* 漢堡 icon 白色 */
.navbar-toggler {
  border: none;

  .navbar-toggler-icon {
    background-image: none;
  }
//  breadcrumb 
  &::after {
    content: "";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}


