.breadcrumb-item + .breadcrumb-item::before{
  color: $grey-300;
  padding-left: 12px;
  padding-right: 12px;
}

/* 桌機 breadcrumb 連結顏色 */
.breadcrumb .nav-link {
  color: $grey-300;
  text-decoration: none;

  &:hover {
    color: #FBAF44;
  }
}

.breadcrumb-item.active { 
  color:$primary-900; 
}


.horizontal-line2 {
    flex-grow: 1;
    height: 1.5px;
    background-color: #715737;
}

.paragraph-xlarge {
      font-size: 18px;
}




  