.products{
  .header1{
    height: 400px-88px;
    background-size: cover;
    background-image: url(/images/index/banner2.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-color: rgba(#312000, 0.4);
    background-blend-mode: multiply;
  }
  .header2{
    height: 400px-88px;
    background-size: cover;
    background-image: url(/images/products/banner1.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-color: rgba(#312000, 0.4);
    background-blend-mode: multiply;
  }
  .horizontal-line{
    width: 80px;
    height: 3px;
    background-color: #F7F6EF;
  }
}

.products-bg{
  background-color:#FCFAF8;
}

.products-nav{
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color:#FCFAF8;

  .nav-underline{
    gap: 0px;
  }

  .nav-link{
    color: $grey-500;
  }

  a:hover,:focus{
    color: $primary-800;
    border-bottom-width: 2px;
  }
}

.nav-underline .nav-link.active{
  color: $grey-500;
  font-weight: 400;
}

.products-link .card{
  border: 0px;
  border-radius: 0px;
  overflow: hidden;
}

// 平板以下不用hover
// .products-link .card:hover{
//   border: $primary-100 1px solid;
//   border-radius: 16px;
  
//   .card-img-top{
//     border-top-left-radius: 16px;
//     border-top-right-radius: 16px;
//     border-bottom-left-radius: 0px;
//     border-bottom-right-radius: 0px;
//   }

//   .card-body{
//     background-color: $primary-50;
//     border-top-left-radius: 0px;
//     border-top-right-radius: 0px;
//     border-bottom-left-radius: 16px;
//     border-bottom-right-radius: 16px;
//   }
// }

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: url(/images/icon/ic_fluent_dismiss_24_regular.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button:hover {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: url(/images/icon/ic_fluent_dismiss_24_regular.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.ratio>*{
  left: auto;
  user-select: none;
}

.products-label{
  width: 100%;
  height: 100%;
}

.productsHeart{
  display: none;
}

.heartArea{
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
}

.productsHeart:checked + .products-heartFilled{
  opacity: 1;
}

// 平板以下不用hover
// .productsHeart:hover + .products-heartFilled{
//   opacity: 1;
// }

.products-heartOutlined {
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.products-heartFilled{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.page-link.active, .active > .page-link.products-pagination{
  background-color: $primary-700;
}

.page-item:first-child .page-link.products-pagination{
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}

.page-item:last-child .page-link.products-pagination{
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
}

.products-pagination{
  background-color: #FCFAF8;
  color: $primary-950;
  border: 0px;
  border-radius: 4px;
}

.products-pagination:hover{
  background-color: $primary-700;
  color: white;
  path{
    fill:white;
  }
}

.products-pagination:focus{
  background-color: $primary-700;
  color: white;
  box-shadow: none;
}

.ellipsis{
  user-select: none;
}

@media(min-width:1200px){
  .heartArea{
  width: 36px;
  height: 36px;
  position: absolute;
  top: 28px;
  right: 28px;
  bottom: auto;
  left: auto;
  z-index: 2;  
}

  .products-heartOutlined {
  position: absolute;  
  width:36px;
  height:36px;  
}

.products-heartFilled{
  position: absolute;
  width:36px;
  height:36px;  
}
}

@media(min-width:768px){
  .search .paragraph-small{
    font-size: 16px;
  }

  .products-label-md-small{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 2px;
  }

  .products-paragraph-md-xlarge{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;
  }

  .products-label-md-large{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 2px;
  }

  .productsHeart:hover + .products-heartFilled{
  opacity: 1;
}

.products-link .card:hover{
  border: $primary-100 1px solid;
  border-radius: 16px;
  
  .card-img-top{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .card-body{
    background-color: $primary-50;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
}