.products-bg{
  background-color:#FCFAF8;
}

.productsHeart{
  width: 0;
  height: 0;
}

.productsHeart:checked + .products-heartFilled{
  opacity: 1;
}

.products-heartOutlined {
  position: absolute;
  top: 28px;
  right: 28px;
  cursor: pointer;
}

.products-heartFilled{
  position: absolute;
  top: 28px;
  right: 28px;
  opacity: 0;
  cursor: pointer;
}