.products{
  .header1{
    height: 400px-88px;
    background-size: cover;
    background-image: url(/assets/images/index/banner2.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-color: rgba(#312000, 0.4);
    background-blend-mode: multiply;
  }
  .header2{
    height: 400px-88px;
    background-size: cover;
    background-image: url(/assets/images/products/banner1.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-color: rgba(#312000, 0.4);
    background-blend-mode: multiply;
  }
  .horizontal-line{
    width: 80px;
    height: 3px;
    background-color: #F7F6EF;
  }
}

.products-bg{
  background-color:#FCFAF8;
}

.products-nav .nav-underline{
  gap: 0px;
}

// .products-nav a{
//   color: grey-500;
// }

// .products-nav .nav-link:checked{
//   color: white;
// }

// .products-nav .nav-link:visited{
//   color:black;
// }

// .search{
//   width: 298px;
// }

.productsHeart{
  width: 0;
  height: 0;
}

.productsHeart:checked + .products-heartFilled{
  opacity: 1;
}

.products-heartOutlined {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.products-heartFilled{
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
  cursor: pointer;
}

.products-pagination{
  background-color: #FCFAF8;
  color: $primary-950;
  border: 0px;
  border-radius: 4px;
}

.products-pagination:hover{
  background-color: $primary-700;
  color: white;
  path{
    fill:white;
  }
}

.products-pagination:focus{
  background-color: $primary-700;
  color: white;
  box-shadow: none;
}

@media(min-width:1200px){
  .products-heartOutlined {
  position: absolute;  
  width:36px;
  height:36px;
  top: 28px;
  right: 28px;
}

.products-heartFilled{
  position: absolute;
  width:36px;
  height:36px;
  top: 28px;
  right: 28px;
}
}

@media(min-width:768px){
  .search .paragraph-small{
    font-size: 16px;
  }

  .products-label-md-small{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 2px;
  }

  .products-paragraph-md-xlarge{
     font-family: "Noto Sans TC", sans-serif;
     font-weight: 400;
     font-size: 20px;
     line-height: 1.5;
     letter-spacing: 2px;
 }

 .products-label-md-large{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 2px;
 }
}