<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <%- include('./layout/style'); -%>
</head>

<body>
  <%- include('./layout/header'); -%>
    <main class="explore">

      
      <!-- 找尋屬於我的咖啡風味 -->
      <section>
        <div class="start">
          <h1 class="h1 text-primary-50 mb-24">
            找尋屬於我的咖啡風味
          </h1>
          <p class="text-primary-50 mb-12">親愛的貴賓，很榮幸邀請您一同參與我們舉辦的羊蹄茶會</p>
          <p class="text-primary-50 mb-40">我們將會帶領您探索屬於您的咖啡</p>
          <button class="btn text-primary-950 bg-primary-50 fs-16">啟程探索風味</button>
        </div>
      </section>




    </main>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
      <%- include('./layout/js'); -%>
</body>

</html>